
    h1 {
        font-size: 2rem;
    }

header {
    height: 600px;
}
.video {
    height: auto;
    background-size: cover;
}
.left-info, .right-info {
    height: 260px;
}
.left-info, .right-info, .center-info {
    width: 100%;
    display: flex;
    flex-direction: row;
   flex-wrap: wrap;
    justify-content:; 
}
.center-info {
    height:600px; 
    margin-bottom: 130px;
}
.st-conv, .free-calls,.take-pic,.send-vid {
    height: 250px;
    text-align: center; 
    width: 48%;
}